[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/akuznetsov/HMSP_18-HARD
ExecStart=/home/akuznetsov/HMSP_18-HARD/env/bin/python app.py

[Install]
WantedBy=multi-user.target
